// Foundation
@use '../foundation/variables';
@use '../foundation/mixins';

/* ============================================
// 会社案内
// ==========================================*/
.lower-about {

  .about {
    margin-top: 80px;
    padding-bottom: 120px;
    position: relative;
    @include mixins.mq-down(md) {
      margin-top: 48px;
      padding-bottom: 56px;
    }

    .sec__message {
      .message {
        .bubble01 {
          width: 180px;
          position: absolute;
          z-index: 1;
          top: -120px;
          right: 48px;
          opacity: 0.4;
          pointer-events: none;
          @include mixins.animation(waveY-20 8000ms linear 0ms infinite);
          @include mixins.mq-down(sm) {
            width: 100px;
            top: -80px;
            right: 0;
          }
          .img-box {
            padding-top: 100%;
          }
        }


        &__inner {
          max-width: 1180px;
          position: relative;
        }
        &__head {

        }
        &__body {
          .txt-box {
            position: relative;

            .lead {
              font-size: 2.8rem;
              color: variables.$primary-dark;
              margin-top: 36px;
              text-align: center;
              line-height: 1.7;
              @include mixins.mq-down(md) {
                font-size: 2rem;
                margin-top: 24px;
                text-align: left;
              }
            }
            .desc {
              font-weight: 500;
              max-width: 940px;
              margin: 32px auto 0;
              position: relative;
              z-index: 2;
              @include mixins.mq-down(md) {
                margin-top: 20px;
              }
            }
            .name-holder {
              text-align: right;
              margin-top: 12px;
              @include mixins.mq-down(md) {
                margin-top: 8px;
              }

              .position {
                font-weight: 500;
              }
              .name {
                font-size: 2.4rem;
                display: inline-block;
                margin-left: 8px;
                @include mixins.mq-down(md) {
                  font-size: 2rem;
                }
              }
            }
            .bubble02 {
              width: 66px;
              position: absolute;
              z-index: 1;
              bottom: 0;
              left: -32px;
              opacity: 0.4;
              pointer-events: none;
              @include mixins.animation(waveY-20 8000ms linear 0ms infinite);
              @include mixins.mq-down(sm) {
                width: 48px;
                bottom: 0px;
                left: 0;
              }
              .img-box {
                padding-top: 100%;
              }
            }
          }
          .border-box {
            border: 3px solid variables.$primary-color;
            border-radius: 10px;
            position: relative;
            padding: 72px 64px 96px;
            margin-top: 64px;
            @include mixins.mq-down(md) {
              margin-top: 56px;
              padding: 40px 24px 68px;
            }

            &:before {
              content: '';
              display: inline-block;
              width: 195px;
              height: 126px;
              background-image: url(../img/about/deco_apple.png);
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              bottom: -40px;
              right: 100px;
              @include mixins.mq-down(md) {
                transform: scale(0.7);
                transform-origin: bottom right;
                right: 16px;
              }
            }

            .ttl {
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%,-50%);
              color: #fff;
              background-color: variables.$primary-color;
              border-radius: 100px;
              text-align: center;
              padding: 12px 48px;
              font-size: 2rem;
              @include mixins.mq-down(md) {
                padding: 6px 16px;
                font-size: 1.6rem;
                width: 85%;
              }
            }
            .desc {
              font-weight: 500;
            }
          }
        }
      }
    }
    .sec__philosophy {
      background-color: variables.$primary-color;
      margin-top: 100px;
      padding-top: 88px;
      padding-bottom: 88px;
      @include mixins.mq-down(md) {
        margin-top: 64px;
        padding-top: 72px;
        padding-bottom: 64px;
      }

      .philosophy {
        &__inner {
          max-width: 1180px;
        }
        &__head {

        }
        &__body {
          background-color: #fff;
          padding: 56px 88px 64px;
          border-radius: 10px;
          margin-top: 56px;
          @include mixins.mq-down(md) {
            margin-top: 40px;
            padding: 36px 20px 40px;
          }

          .list {
            margin-top: 32px;
            &:first-child {
              margin-top: 0;
            }

            .term {
              font-size: 2rem;
              color: variables.$primary-dark ;
              border-top: 1px solid #d3d3d3;
              border-bottom: 1px solid #d3d3d3;
              padding: 14px 12px;
              @include mixins.mq-down(md) {
                font-size: 1.8rem;
                padding: 10px 12px;
              }
            }
            .desc {
              padding: 20px 12px 0;
              font-weight: 500;
              @include mixins.mq-down(md) {
                padding: 12px 12px 0;
              }
            }
          }
        }
      }
    }
    .sec__company {
      margin-top: 96px;
      @include mixins.mq-down(md) {
        margin-top: 72px;
      }

      .company {

        &__inner {
          max-width: 1100px;
        }
        &__head {

        }
        &__body {
          margin-top: 40px;
          border: 3px solid #cae8f6;
          border-radius: 10px;
          position: relative;
          @include mixins.mq-down(md) {
            margin-top: 28px;
          }

          .list-holder {
            position: relative;
            z-index: 3;
          }
          .list {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            border-bottom: 3px solid #cae8f6;
            position: relative;
            z-index: 2;
            @include mixins.mq-down(md) {
              display: block;
            }

            &:first-child {
              .term {
                border-radius: 5px 0 0 0;
                @include mixins.mq-down(md) {
                  border-radius: 5px 5px 0 0;
                }
              }
            }
            &:last-of-type {
              border-bottom: none;
              .term {
                border-radius: 0 0 0 5px;
              }
              .desc {
                @include mixins.mq-down(md) {
                  border-radius: 0 0 5px 5px;
                }
              }
            }

            .term {
              flex: 0 0 20%;
              background-color: #dff1fa;
              padding: 18px 2.5%;
              font-size: 1.6rem;
              @include mixins.mq-down(md) {
                padding: 12px 4%;
              }
            }
            .desc {
              flex: 0 0 80%;
              padding: 18px 2.5%;
              font-weight: 500;
              background-color: #f5fbff;
              @include mixins.mq-down(md) {
                padding: 16px 4%;
              }
            }
          }

          .bubble01 {
            width: 170px;
            position: absolute;
            top: -28px;
            left: -160px;
            opacity: 0.4;
            pointer-events: none;
            @include mixins.animation(waveY-20 8000ms linear 0ms infinite);
            @include mixins.mq-down(sm) {
              width: 72px;
              top: -48px;
              left: -16px;
            }
            .img-box {
              padding-top: 100%;
            }
          }
          .bubble02 {
            width: 170px;
            position: absolute;
            bottom: -16px;
            right: -100px;
            opacity: 0.4;
            pointer-events: none;
            @include mixins.animation(waveY-20 6000ms linear 0ms infinite);
            @include mixins.mq-down(sm) {
              width: 72px;
              bottom: -48px;
              right: -16px;
            }
            .img-box {
              padding-top: 100%;
            }
          }
        }
      }
    }
    .sec__privacy {
      margin-top: 80px;
      padding-top: 96px;
      padding-bottom: 80px;
      background-color: variables.$primary-color;
      @include mixins.mq-down(md) {
        margin-top: 64px;
        padding-top: 56px;
        padding-bottom: 72px;
      }

      .privacy {
        &__inner {

        }
        &__head {
          .sec-ttl01 {
            .en {
              span {
                &:nth-child(7) {
                  margin-right: 16px;
                  @include mixins.mq-down(md) {
                    margin-right: 8px;
                  }
                }
              }
            }
          }
        }
        &__body {
          background-color: #fff;
          border-radius: 10px;
          padding: 40px 80px 56px;
          margin-top: 48px;
          @include mixins.mq-down(md) {
            margin-top: 32px;
            padding: 28px 20px 32px;
          }

          .lead {
            font-weight: 500;
          }
        }

        &__block {
          margin-top: 32px;
          @include mixins.mq-down(md) {
            margin-top: 28px;
          }

          .head {
            font-size: 2rem;
            color: #216cc4;
            border-top: 1px solid #d3d3d3;
            border-bottom: 1px solid #d3d3d3;
            padding: 14px 12px;
            @include mixins.mq-down(md) {
              font-size: 1.8rem;
              padding: 10px 12px;
            }
          }
          .body {

          }
        }
        &__list {
          margin-top: 20px;
          @include mixins.mq-down(md) {
            margin-top: 16px;
          }

          &__item {
            margin-top: 28px;
            @include mixins.mq-down(md) {
              margin-top: 16px;
            }

            &:first-child {
              margin-top: 0;
            }

            .ttl-holder {
              display: flex;
              justify-content: flex-start;
              align-items: flex-start;

              .num {
                width: 22px;
                height: 22px;
                background-color: variables.$primary-dark;
                font-size: 1.3rem;
                font-weight: bold;
                font-family: variables.$font-Montserrat;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                border-radius: 50%;
                margin-right: 8px;
                margin-top: 4px;
              }
              .ttl {
              }
            }
            .desc {
              font-weight: 500;
            }
          }
        }
      }
    }

  }

}
