// Foundation
@use '../foundation/variables';
@use '../foundation/mixins';

/* ============================================
// お知らせ
// ==========================================*/

// 共通
.lower-information_l,
.lower-information_d {
  .info {
    &__inner {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;

      @include mixins.mq-down(md) {
        display: block;
      }
    }
    &__main {
      flex: 0 0 79%;
      max-width: 950px;
      margin-right: 4%;
      @media screen and (min-width:768px) and (max-width:1024px) {
        flex: 0 0 75%;
      }
      @include mixins.mq-down(md) {
        margin-right: 0;
      }
    }
    &__sub {
      flex: 0 0 17%;
      max-width: 200px;
      position: relative;
      z-index: 2;
      @media screen and (min-width:768px) and (max-width:1024px) {
        flex: 0 0 21%;
      }

      @include mixins.mq-down(md) {
        width: 90%;
        max-width: 300px;
        margin: 48px auto 0;
      }

      .block {
        margin-top: 28px;
        &:first-child {
          margin-top: 0;
        }

        .head {
          font-family: variables.$font-Montserrat;
          font-weight: bold;
          color: variables.$primary-color;
          font-size: 1.8rem;
          border-bottom: 1px solid variables.$primary-color;

        }
        .body {
          .list {
            &__item {

              &:last-child {
                &::before {
                  content: none;
                }
              }

              a {
                display: block;
                padding: 8px 0;
                position: relative;
                padding-left: 20px;
                transition: color 0.3s;

                @include mixins.mq-up(md) {
                  &:hover {
                    color: variables.$primary-dark;
                  }
                }

                &:before {
                  content: "";
                  height: 1px;
                  width: 100%;
                  display: inline-block;
                  background-image: linear-gradient(to right, #adadad, #adadad 4px, transparent 4px, transparent 6px);
                  background-size: 6px 1px;
                  background-repeat: repeat-x;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                }
                &:after {
                  content: '>';
                  color: variables.$primary-color;
                  font-size: 1.5rem;
                  position: absolute;
                  top: 14px;
                  left: 0;
                  line-height: 1;
                }
              }
            }
          }
        }

        &.-search {
          .head {
            border: none;
          }
          .body {
            .search-box {
              display: flex;
              justify-content: flex-start;

              .search {
                &__word {
                  flex: 1 1 auto;

                  .search__field{

                    background-color: #ddf0f8 !important;
                    border: 1px solid variables.$primary-color !important;
                    -webkit-appearance: none;
                  }

                }
                &__btn {
                  flex: 0 0 47px;

                  .submit-btn-holder {
                    display: block;
                    position: relative;
                    transition: opacity 0.3s;

                    @include mixins.mq-up(md) {
                      &:hover {
                        opacity: 0.7;
                      }
                    }

                    &::before {
                      content: '';
                      display: inline-block;
                      background-image: url(../img/common/ico_search_white.png);
                      background-size: contain;
                      background-repeat: no-repeat;
                      width: 14px;
                      height: 14px;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%,-50%);
                      pointer-events: none;
                    }
                  }
                  input {
                    background-color:  variables.$primary-color;
                    border: 1px solid variables.$primary-color;

                    @-moz-document url-prefix() {
                      width: 47px;
                      height: 47px;
                    }
                  }
                }
              }
            }
          }
        }
      }

    }
  }
  .l-main {
    padding-bottom: 108px;
    @include mixins.mq-down(md) {
      padding-bottom: 52px;
    }
  }
  .bubble01 {
    width: 180px;
    position: absolute;
    z-index: 1;
    top: -120px;
    right: 156px;
    opacity: 0.4;
    pointer-events: none;
    @include mixins.animation(waveY-20 8000ms linear 0ms infinite);
    @include mixins.mq-down(sm) {
      width: 120px;
      top: 0;
      right: 0;
    }
    .img-box {
      padding-top: 100%;
    }
  }
}

// 一覧
.lower-information_l {
  .info {
    padding-top: 80px;
    @include mixins.mq-down(md) {
      padding-top: 40px;
    }

    &__main {
      .category-holder {
        dl {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        .txt-category {
          font-size: 1.8rem;
          color: variables.$primary-color;
          font-weight: bold;
        }
        .category-desc {
          font-size: 1.6rem;
          margin-left: 32px;
          position: relative;
          @include mixins.mq-down(md) {
            margin-left: 28px;
          }

          &:before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 16px;
            background-color: #97999c;
            position: absolute;
            top: 50%;
            left: -16px;
            transform: translateY(-50%);
            @include mixins.mq-down(md) {
              left: -14px;
            }
          }
        }
      }
      .list-holder {
        margin-top: 24px;
      }
      .btn-box {
        width: 240px;
        height: 64px;
        margin: 56px auto 0;
        @include mixins.mq-down(md) {
          margin-top: 40px;
        }
      }
      .pagination {
        margin-top: 36px;
        @include mixins.mq-down(md) {
          margin-top: 32px;
        }

        ul {
          justify-content: center;

          li {
            margin: 0;

            &.arrow {
              &.prev {
                margin-right: 0;

                a {
                  border-radius: 5px 0 0 5px;
                }
              }
              &.next {
                a {
                  border-radius: 0 5px 5px 0;
                }
              }

              a {
                background-color: #ddf0f8;
                color: variables.$primary-color;

                @include mixins.mq-up(md) {
                  &:hover {
                    background-color: variables.$primary-color;
                    color: #fff;
                  }
                }
              }
            }
            &.number {
              a {
                color: #5c5c5c;
                border: none;
                background-color: #ddf0f8;
                border-radius: 0;

                @include mixins.mq-up(md) {
                  &:hover {
                    color: #fff;
                    background-color: variables.$primary-color;
                  }
                }
              }

              em {
                background-color: variables.$primary-color;
              }
            }

            em {
              border-radius: 0;
              font-size: 1.5rem;
              width: 48px;
              height: 48px;
            }
            a {
              font-size: 1.5rem;
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
    &__list {
      background-color: #fff;
      box-shadow: 0 16px 24px rgba(variables.$primary-dark, 0.1);
      border-radius: 10px;

      &__item {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        border-bottom: 1px solid #e5e5e5;
        padding: 40px 64px 32px 40px;
        @include mixins.mq-down(md) {
          padding: 24px;
        }

        &:last-child {
          border: none;
        }
        .info {
          &__date {
            position: relative;
            z-index: 1;
            display: flex;
            margin-right: 20px;
            margin-left: 4px;
            @include mixins.mq-down(md) {
              margin-top: 2px;
              margin-right: 12px;
            }
            .txt {
              color: variables.$primary-light;
              font-size: 1.5rem;
              font-weight: 600;
              @include mixins.mq-down(sm) {
                font-size: 1.4rem;
              }
            }
            &:before {
              content: '';
              display: block;
              width: 16px;
              height: 16px;
              margin-top: 6px;
              background: url('../img/common/i_calendar.svg')
                no-repeat center / cover;
              margin-right: 8px;
              @include mixins.mq-down(sm) {
                width: 14px;
                height: 14px;
              }
            }
          }
          &__tags {
            display: flex;
            flex-wrap: wrap;
            &__item {
              margin-top: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 24px;
              background: variables.$third-color;
              padding: 2px 4px 0;
              border-radius: 2px;
              &:not(:last-child) {
                margin-right: 4px;
              }
              @include mixins.mq-down(md) {
                margin-top: 4px;
              }
              .txt {
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.4;
              }
            }
          }
          &__ttl {
            width: 100%;
            margin-top: 8px;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            transition: color 400ms variables.$bezier-easeOutCubic
              0ms;
            @include mixins.mq-down(md) {
              font-size: 1.7rem;
            }

            .ttl {
              transition: color 0.3s;
              @include mixins.mq-up(md) {
                &:hover {
                  color: variables.$primary-dark;
                }
              }
            }
          }
          &__desc {
            width: 100%;
            margin-top: 12px;
            @include mixins.mq-down(md) {
              margin-top: 8px;
            }
          }
        }
        .link {
          color: variables.$primary-color;
          font-weight: bold;
          transition: color 0.3s;
          @include mixins.mq-up(md) {
            &:hover {
              color: variables.$primary-dark;
            }
          }
        }
      }
    }
  }
}

// 詳細
.lower-information_d {
  .l-main {
    &__mv {
      padding-top: 284px;
      @include mixins.mq-down(xxl) {
        padding-top: 244px;
      }
      @include mixins.mq-down(md) {
        padding-top: 200px;
      }
      @include mixins.mq-down(sm) {
        padding-top: 167px;
      }
    }
  }
  .info {
    &__main {
      &__inner {
        background-color: #fff;
        box-shadow: 0 16px 24px rgb(33 108 196 / 10%);
        padding: 40px 48px 56px 40px;
        border-radius: 10px;
        margin-top: -160px;
        position: relative;
        z-index: 10;
        @include mixins.mq-down(md) {
          margin-top: -90px;
          padding: 24px;
          padding-bottom: 32px;
        }
      }

      .head {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 24px;
        @include mixins.mq-down(md) {
          padding-bottom: 16px;
        }

        &:before {
          content: "";
          height: 1px;
          width: 100%;
          display: inline-block;
          background-image: linear-gradient(to right, #adadad, #adadad 4px, transparent 4px, transparent 6px);
          background-size: 6px 1px;
          background-repeat: repeat-x;
          position: absolute;
          bottom: 0;
          left: 0;
        }
        .info {
          &__date {
            position: relative;
            z-index: 1;
            display: flex;
            margin-right: 20px;
            margin-left: 4px;
            @include mixins.mq-down(md) {
              margin-top: 2px;
              margin-right: 12px;
            }
            .txt {
              color: variables.$primary-light;
              font-size: 1.5rem;
              font-weight: 600;
              @include mixins.mq-down(sm) {
                font-size: 1.4rem;
              }
            }
            &:before {
              content: '';
              display: block;
              width: 16px;
              height: 16px;
              margin-top: 6px;
              background: url('../img/common/i_calendar.svg')
                no-repeat center / cover;
              margin-right: 8px;
              @include mixins.mq-down(sm) {
                width: 14px;
                height: 14px;
              }
            }
          }
          &__tags {
            display: flex;
            flex-wrap: wrap;
            &__item {
              margin-top: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              height: 24px;
              background: variables.$third-color;
              padding: 2px 4px 0;
              border-radius: 2px;
              &:not(:last-child) {
                margin-right: 4px;
              }
              @include mixins.mq-down(md) {
                margin-top: 4px;
              }
              .txt {
                display: block;
                font-size: 1.2rem;
                font-weight: 600;
                line-height: 1.4;
              }
            }
          }
          &__ttl {
            width: 100%;
            margin-top: 8px;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.6;
            transition: color 400ms variables.$bezier-easeOutCubic
              0ms;
            @include mixins.mq-down(md) {
              font-size: 1.7rem;
            }

            .ttl {
              transition: color 0.3s;
              @include mixins.mq-up(md) {
                &:hover {
                  color: variables.$primary-dark;
                }
              }
            }
          }
        }
      }
      .body {
        .txt-holder {
          margin-top: 32px;
          @include mixins.mq-down(md) {
            margin-top: 20px;
          }
          .txt {
            font-weight: 500;
          }
        }
        .img-holder {
          margin-top: 32px;
          position: relative;
          @include mixins.mq-down(md) {
            margin-top: 20px;
          }
          .img {
            @include mixins.keepAspect(68.3%);
            max-width: 600px;
            margin: 0 auto;

            img {
              border-radius: 10px;
            }
          }
          .circle {
            position: absolute;
            z-index: 2;
            opacity: 0;

            &-01 {
              width: 51px;
              height: 51px;
              top: 72px;
              left: 1.2%;
              @include mixins.mq-down(md) {
                width: 40px;
                height: 40px;
                top: 18px;
                left: -6%;
              }

              &.js-active {
                @include mixins.animation(
                  fadein-b-40 600ms variables.$bezier-easeOutSine 400ms
                );
              }
            }
            &-02 {
              width: 51px;
              height: 51px;
              top: 80px;
              right: 1.2%;
              @include mixins.mq-down(md) {
                width: 40px;
                height: 40px;
                top: 32px;
                right: -6%;
              }

              &.js-active {
                @include mixins.animation(
                  fadein-b-40 600ms variables.$bezier-easeOutSine 600ms
                );
              }
            }
            &-03 {
              width: 113px;
              height: 113px;
              bottom: 60px;
              left: 5.8%;
              @include mixins.mq-down(md) {
                width: 80px;
                height: 80px;
                bottom: 8px;
                left: -6%;
              }

              &.js-active {
                @include mixins.animation(
                  fadein-b-40 600ms variables.$bezier-easeOutSine 600ms
                );
              }
            }
            &-04 {
              width: 29px;
              height: 29px;
              bottom: 120px;
              right: 8.5%;
              @include mixins.mq-down(md) {
                bottom: 32px;
                right: -6%;
              }


              &.js-active {
                @include mixins.animation(
                  fadein-b-40 600ms variables.$bezier-easeOutSine 400ms
                );
              }
            }
          }
        }
        .link-holder {
          margin-top: 16px;
          @include mixins.mq-down(md) {
            margin-top: 12px;
          }
          .link {
            color: variables.$primary-color;
            border-bottom: 1px solid variables.$primary-color;
            padding: 0 28px 4px 4px;
            position: relative;
            transition: color 0.3s;

            @include mixins.mq-up(md) {
              &:hover {
                color: variables.$primary-dark;
              }
            }

            &.-internal {
              &:before {
                content: '';
                display: inline-block;
                background-image: url(../img/common/ico_arrow_blue.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 13px;
                height: 13px;
                position: absolute;
                top: 50%;
                right: 6px;
                transform: translateY(-50%);
              }
            }
            &.-external {
              &:before {
                content: '';
                display: inline-block;
                background-image: url(../img/common/ico_external_blue.png);
                background-size: contain;
                background-repeat: no-repeat;
                width: 16px;
                height: 11px;
                position: absolute;
                top: 50%;
                right: 6px;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    .pagination {
      max-width: 390px;
      margin: 60px auto 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;
      height: 44px;
      @include mixins.mq-down(md) {
        margin-top: 44px;
      }

      .page-link {
        background-color: #ddf0f8;
        color: #5c5c5c;
        width: 33%;
        text-align: center;
        padding: 8px 0;
        position: absolute;
        top: 0;
        transition: all 0.3s;
        @include mixins.mq-down(md) {
          font-size: 1.4rem;
        }

        @include mixins.mq-up(md) {
          &:hover {
            color: #fff;
            background-color: variables.$primary-color;

            &.-prev,
            &.-next {
              &:before {
                color: #fff;
              }
            }
          }
        }

        &.-prev {
          border-radius: 5px 0 0 5px;
          left: 0;

          &:before {
            content: '<';
            display: inline-block;
            color: variables.$primary-color;
            position: absolute;
            top: 50%;
            left: 14px;
            transform: translateY(-50%);
            transition: color 0.3s;
            @include mixins.mq-down(md) {
              left: 8px;
            }
          }
        }
        &.-next {
          border-radius: 0 5px 5px 0;
          right: 0;
          &:before {
            content: '>';
            display: inline-block;
            color: variables.$primary-color;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            transition: color 0.3s;
            @include mixins.mq-down(md) {
              right: 8px;
            }
          }
        }
      }
      .page-back {
        background-color: variables.$primary-color;
        color: #fff;
        width: 34%;
        text-align: center;
        padding: 8px 0;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.3s;
        @include mixins.mq-down(md) {
          font-size: 1.4rem;
        }

        @include mixins.mq-up(md) {
          &:hover {
            background-color: variables.$primary-dark;
          }
        }
      }
    }
  }

}
